* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #000b0f;
  --acc-color: #00202e;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: white;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 5em;
  margin-top: 15em;
}

header {
  width: 80%;
  height: 10%;
  position: sticky;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

header a {
  text-decoration: none;
  color: aliceblue;
}

header>div:nth-child(1)>h1 {
  font-weight: 800;
  font-size: 1.5em;
}

header>div:nth-child(2) {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--acc-color);
  border-radius: 5px;
  padding: 1em;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
  transform: translateY(-100%);
}

.menu>div {
  height: 65%;
  width: 81%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: end;
  gap: 5%;
}

.menu a {
  font-size: 150%;
  color: white;
  text-decoration: none;
  padding: 0.5em 0;
}

.menu.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

#avatarContainer {
  border-radius: 50%;
  min-width: 18em !important;
  min-height: 18em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--acc-color);
  overflow: hidden;
  margin-top: 2em;
}

#avatar {
  border-radius: 50%;
  max-width: 100% !important;
  height: auto;
}


#aboutMe {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#introduction {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 2em;
  gap: 2em;
}

#introduction>div:nth-child(1) {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;

  h3 {
    font-weight: 400;
  }
}

#introduction>div:nth-child(2) {
  width: 100%;
  min-height: 20%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    font-weight: 200;
    font-size: 90%;
  }
}

#project {
  width: 100%;
  min-height: 25% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
}

#project>h3,
#competence>h3,
#contact>h3 {
  width: 80%;
}

#projectContainer {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 2em;
  overflow-y: hidden;
}



#projectContainer>div:nth-child(1) {
  margin-left: 2em;
}

.projectCard {
  background-size: cover;
  background-position: center;
  min-width: 25em;
  max-width: 30em;
  min-height: 19em;
  max-height: 19em;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  border-radius: 16px;
  position: relative;
  overflow-y: hidden;
}

.projectCard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 0.5px solid rgba(41, 41, 41, 0.5);
}

.projectCard .content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  z-index: 1;
  gap: 1em;
  /* text-wrap: pretty; */
  overflow: hidden;
}

.cardDescription {
  font-size: 90%;
}

.projectTechIcon {
  height: 60%;
}

.projectCardYear {
  font-size: 70%;
}

.ctHeader {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;

  h3 {
    font-size: 160%;
  }
}

.techIcons {
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
}

@media only screen and (max-width: 450px) {
  #avatarContainer {
    width: 100px;
    height: 100px;
  }

  #introduction>div:nth-child(1) {
    margin-top: 1em;
    margin-bottom: 1em;

    h1 {
      font-size: 170%;
    }

    h3 {
      font-weight: 200;
      font-size: 100%;
    }
  }
}


#competence {
  width: 100%;
  min-height: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#competenceContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 3em;
  padding-top: 2em;
}

.competenceCard {
  min-width: 80%;
  max-width: 85%;
  min-height: 10em;
  max-height: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  border: 0.5px solid rgba(41, 41, 41, 0.5);
  border-radius: 5px;
}


.competenceIcon {
  max-height: 45px;
  max-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.turning {
  animation: spin 9s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.competenceCard>div>p {
  font-weight: 200;
  font-size: 80%;
  text-wrap: wrap;
}


#contact {
  width: 100%;
  min-height: 20% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  margin-bottom: 4em;
}

.contactContainer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5em;
  padding-top: 2em;
}

.mediaContainer {
  width: 8em;
  height: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-decoration: none;

  img {
    width: 2em;
  }
}

@media only screen and (min-width: 550px) {
  #competenceContainer {
    flex-direction: row;
    width: 80%;
    height: 40%;
  }

  main {
    margin-top: 0;
    gap: 1em;
  }

  .competenceCard {
    min-width: 25em;
    max-width: 25em;
  }

  #introduction {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #introduction>div:nth-child(1) {
    min-height: 80%;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: space-around;
  }

  #avatarContainer {
    min-width: 25em !important;
    max-width: 25em !important;
  }
}